
:root{
    --size:2rem;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

html,body{
  -webkit-user-drag: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


#maze_container {
    position: relative;
    display: inline-block;
  }
  #maze {
    position: relative;
    background-color: #a7c53f;
    background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at center, rgba(0,0,0,0.1) 50%, transparent 50%), radial-gradient(circle at 100% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 0% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 100% 0%, transparent 50%, rgba(0,0,0,0.1) 50%);
    background-size: 8em 8em;
  }
  #maze div {
    display: flex;
  }
  #maze div div {
    position: relative;
    width: var(--size);
    height: var(--size);
  }
  #maze div div::after {
    position: absolute;
    left: -3px;
    top: -4px;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: var(--size);;
    z-index: 10;
  }
  #maze div div.door.exit::after {
    content: "\1F6AA";
  }
  #maze div div.nubbin::after {
    content: "\1F33C";
  }
  #maze div.nubbin:nth-of-type(3n)::after {
    content: "\1F344";
  }
  #maze div.nubbin:nth-of-type(5n)::after {
    content: "\1F33B";
  }
  #maze div.nubbin:nth-of-type(7n)::after {
    content: "\1F48E";
  }
  #maze div.nubbin:nth-of-type(13n)::after {
    content: "\1F381";
  }
  #maze div.hero::after {
    content: "\1F6B6" !important;
  }
  #maze.face-right div.hero::after {
    transform: scale(-1, 1);
  }
  #maze div div.wall, #maze div div.nubbin.wall, #maze div div.door.exit {
    background-color: #454545;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.2) 45%, transparent 55%), linear-gradient(to bottom, rgba(0,0,0,0.2) 45%, transparent 55%);
    background-size: 0.5em 0.5em;
  }
  #maze div div.nubbin.wall::after {
    content: "";
  }
  #maze div div.sentinel.wall {
    background: transparent;
  }
  #maze div div.sentinel.wall::after {
    content: "\1F40A";
  }
  #maze div.sentinel.wall:nth-of-type(3n)::after {
    content: "\1F40D";
  }
  #maze div div.key::after {
    content: "\1F511";
  }
  
  #maze div div:nth-child(odd) {
    width: var(--size);
  }
  #maze div:nth-child(odd) div {
    height: var(--size);
  }
  
  #maze.finished::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: "Game Over";
    background: rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 10;
  }
  
  #maze_output {
    display: flex;
    margin: 0.5em auto;
  }
  #maze_score, #maze_message {
    font-family: fantasy;
    font-weight: bold;
    font-size: 1em;
  }
  #maze_score {
    flex: 1;
    white-space: nowrap;
    text-align: left;
  }
  #maze_score::before {
    content: "Score: ";
  }
  #maze_score.has-key::after {
    content: "\00a0\1F511";
  }
  #maze_message {
    flex: 3;
    text-align: right;
  }

  div.red{
      background-color: red;
      background-image: none;
  }

  div.red::after{
    background-color: red;
    background-image: none;
}

.modal-background{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #454545;
  opacity: 0.7;
  z-index: 99;

}


.modal{
  position: absolute;
  min-width: 300px;
  min-height: 100px;
  top:10rem;
  left: 50%;
  background-color: #fff;
  z-index: 100;
  font-size: 2rem;
  text-align: center;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px #454545;
  padding: 1rem;

}

.modal > *{
  margin-bottom:1rem;
}

.modal > button{
  border-radius: 5pt;
  padding: 1rem;
  /* outline: none; */
  /* border:none; */
}


.container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}

.button-group{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.button-group > button{
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5pt;
  border:none;
  box-shadow: 3px 1px 3px #aaa;
  font-size: 1.5rem;
}




#easy{background-color: lightgreen;}
#hard{background-color: lightblue;}

#easy:active{background-color: green;}
#hard:active{background-color: blue;}




.hidden{
  display: none;
}